@font-face {
  font-family:'Oswald-Light';
  src:url('../fonts/Oswald-Light.eot');
  src:url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Light.woff') format('woff'),
    url('../fonts/Oswald-Light.ttf') format('truetype');

    font-weight:normal;
    font-style:normal;
}
